# Pandas Series

In [3]:
import pandas as pd

In [16]:
# Pandas Series (Basic Syntax)
basic = pd.Series(
        [1, 2, 3],
        index=['a', 'b', 'c']
    )
print("Basic Syntax =")
basic

Basic Syntax =

a    1
b    2
c    3
dtype: int64

In [15]:
# Pandas Series using Dictionary
dict = pd.Series({'a': 1, 'b': 2, 'c': 3})
print("Using Dictionary =")
dict

# Example of Dictionary/Format in case you forget of Comp Bio
# result = "Nucleotide Freq: {} \nGC: {:.2f} \nAT: {:.2f} \nTemp by GC Content:{:.2f} °C\nTemp by Wallace rule: {:.2f} °C\nWeight: {:.2f} g/mol".format(freq, gc, at, melting, mt_wallace, weight)

Using Dictionary =

a    1
b    2
c    3
dtype: int64

In [11]:
# Accessing a series
dict['a']

1

# Pandas Dataframe

Remember Dataframe in R? This one has similar concept with it. It uses 2D array to store multiple data types within one dataframe. One way to create a DataFrame from scratch is to pass in a **dict**.

In [22]:
# Here's an example of Dataframe

engine_dict = {
    'Cars': ['Audi A4', 'Toyota Prius', 'Mitsubishi Pajero Sport', 'Toyota Innova Kijang Reborn'],
    'Engine': ['2.0 Tdi', 'VVT-i', '4N15', '2GD'],
}

df_engine = pd.DataFrame(engine_dict)
df_engine.head()

                          Cars   Engine
0                      Audi A4  2.0 Tdi
1                 Toyota Prius    VVT-i
2      Mitsubishi Pajero Sport     4N15
3  Toyota Innova Kijang Reborn      2GD

In [23]:
# In accessing specific index, we may do this instead
df_engine['Engine']

0    2.0 Tdi
1      VVT-i
2       4N15
3        2GD
Name: Engine, dtype: object

In [27]:
# We also change the index to be customized like this
custom_df_engine = pd.DataFrame(engine_dict, index=[4, 3, 2, 1])
custom_df_engine

                          Cars   Engine
4                      Audi A4  2.0 Tdi
3                 Toyota Prius    VVT-i
2      Mitsubishi Pajero Sport     4N15
1  Toyota Innova Kijang Reborn      2GD

In [48]:
# Other method to customize the index is using
cars_index = pd.DataFrame(engine_dict)
cars_index.set_index('Cars')

                              Engine
Cars
Audi A4                      2.0 Tdi
Toyota Prius                   VVT-i
Mitsubishi Pajero Sport         4N15
Toyota Innova Kijang Reborn      2GD

In [45]:
# And to sort it asc by using this
df_sort = custom_df_engine.sort_values(by='Engine')
print("By Ascending\n", df_sort, "\n")
df_sort_desc = custom_df_engine.sort_values(by='Engine', ascending=False)
print("By Descending\n", df_sort_desc)

By Ascending
                           Cars   Engine
4                      Audi A4  2.0 Tdi
1  Toyota Innova Kijang Reborn      2GD
2      Mitsubishi Pajero Sport     4N15
3                 Toyota Prius    VVT-i

By Descending
                           Cars   Engine
3                 Toyota Prius    VVT-i
2      Mitsubishi Pajero Sport     4N15
1  Toyota Innova Kijang Reborn      2GD
4                      Audi A4  2.0 Tdi